@model CommonContract.Model.UserInfo
@{
    ViewBag.Title = "ChangePassword";
}

<script>

    var ChangePasswd = function ()
    {
        $.ajax({
            type: "POST",
            url: "/User/ChangePasswd",
            data: $('#User-ChangePasswd').serialize(),
            dataType: "HTML",
            success: function (data) {
                if (data == '') {
                    $("#ChangePasswdDiv").css({ "display": "none" });
                    $("#ChangePasswdDiv").dialog('close');
                    $("#ChangePasswdDiv").empty();
                }
                else {
                    $("#ChangePasswdDiv").empty();
                    $("#ChangePasswdDiv").html(data);
                }
            }
        })
    }
</script>
<div>
    <div style="color: red; margin-left: 22px;">
        @Html.ValidationSummary()
    </div>
    <form id="User-ChangePasswd">
        <input type="hidden" value="@Model.SID" name="SID"/>
        <label>用户名</label>: <input type="text" class="form-control" name="UserName" value="@Model.UserName" readonly="true" />
        <label>旧密码</label>: <input type="password" class="form-control" name="OldPassword" value="@Model.OldPassword" />
        <label>新密码</label>: <input type="password" class="form-control" name="NewPassword" value="@Model.NewPassword" />
        <label>重复新密码</label>: <input type="password" class="form-control" name="ConfirmPassword" value="@Model.ConfirmPassword" />
        <div style=" float: right; margin-top: 13px;">
            <input type="button" value="确定" class="btn btn-default" onclick="ChangePasswd()" />
        </div>
    </form>
</div>

